
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>UCSC Free and For Sale</title>

      <link href='https://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap1.min.css" type="text/css" rel="stylesheet"/>
      <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.indigo-blue.min.css">

    <!-- Custom styles for this template -->
       <link rel="stylesheet" href="../static/stylesheets/dropzone.css" />
   <link href="../static/stylesheets/styles.css" rel="stylesheet"/>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">




      <!-- other styles for this template -->



    <link rel="icon" href="../static/images/favicon.ico>" />


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{=URL('static', 'js/jquery-1.11.3.min.js')}}"><\/script>')</script>


      <script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script>
      <script src="http://jquery-json.googlecode.com/files/jquery.json-2.2.min.js" type="text/javascript"></script>
      <script src="../static/js/dropzone.js"></script>
      <script src="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.min.js"></script>

    <style>
        body {
            font-family: 'Roboto', sans-serif;
            font-size: 18px;
         }
    </style>

    </head>

  <body>


    <div id="target"></div>



<script id="template" type="text/ractive">


<div class="container-narrow">

          <div class="masthead">

        {{if auth.user_id is None:}}

<a class="btn btn-warning pull-right "  href="{{=URL('default/user', 'register')}}">Sign Up</a>
<a class="btn btn-success pull-right  " style = "margin-right: 10px" href="{{=URL ( 'default/user', 'login')}}">Sign In</a>

       {{else:}}
            <a class="btn btn-danger pull-right  "  href="{{=URL ('default/user', 'logout')}}">Logout</a>
            <a  class="btn btn-warning pull-right " style = "margin-right: 10px" href="{% profile_url  +'/' + user_id%}"> Welcome {{=auth.user.first_name}} </a>
       {{pass}}



        <h3 class="text-muted">UCSC Free and For Sale</h3>
      </div>

      <hr>


    <div class="well well-sm">
     {{if auth.user_id is not None:}}
    <button type="button" class="btn btn-primary  addpost" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo" on-click="addpost">Add post</button>
    {{pass}}
        <strong >Products</strong>
    </div>


<div class="post-content">
{% #if isloading %}
<div class="spinner-div">
    <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
        <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
    </svg>
</div>
{% /if %}

 {% #each post_list %}
<!-- list view begins -->
<!--
  <a href = {% curr_post_url + "/" + post_id %} >
    <div id="products" class="row list-group">
        <div on-click = "clickedpost" class="item  col-xs-4 col-lg-4 list-group-item ">
            <div class="thumbnail">
                <img class="group list-group-image img-rounded" width="400" height="250" src="{% picture_url + "/" +cover_photo%}" alt="" />

            </div>
            <div class="caption">
                    <h4 class="group inner list-group-item-heading">
                       {%name %}</h4>
                    <p class="group inner list-group-item-text">
                        {% desc %}</p>
                    <div class="row pull-right" >
                        <div class="col-xs-12 col-md-6">
                    <p class="lead " style = "color : green" >
                        ${% price %}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </a>
-->
  <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp" style="margin-bottom: 25px;">
            <header class="section__play-btn mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone mdl-color--teal-100 mdl-color-text--white" style= "background-color: transparent;">
               <div class="thumbnail">
                <img class="group list-group-image img-rounded" width="400" height="250" src="{% picture_url + "/" +cover_photo%}" alt="" />

            </div>
            </header>
            <div class="mdl-card mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
              <div class="mdl-card__supporting-text">
                <h2>{% name %}</h2>
                <h4 style = "color: green"> ${%price%}  </h4>
              </div>
              <div class="mdl-card__actions">
                <a href= {% curr_post_url + "/" + post_id %} class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Go to post</a>
              </div>
            </div>

          </section>

{% /each %}
</div>



<!--this is where list view ends -->

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel" style="color: black;">Add post</h4>
      </div>
      <div class="modal-body">
        <form id="myform" >
          <div class="form-group" style="color: black;">
            <form action="#">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" value="{% post_name %}"type="text" id="postname">
                    <label class="mdl-textfield__label">Post title</label>
                </div>
            </form>
          </div>
          <div class="form-group">
                <form action="#">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                         <textarea class="mdl-textfield__input form-control" value="{% post_desc %}" type="text" rows= "3" id="postdesc" ></textarea>
                            <label class="mdl-textfield__label">Description</label>
                    </div>
                </form>
          </div>

          <div class="form-group">
            <form action="#">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input"  pattern = "[-+]?[0-9]*[.,]?[0-9]+" value="{% post_price %}"type="text" id="postprice">
                    <label class="mdl-textfield__label">Price (eg: 00.00)</label>
                </div>
            </form>
          </div>

          <div class="form-group">

            <form action="#">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" value="{% post_cate %}"type="text" id="postcate">
                    <label class="mdl-textfield__label">Category</label>
                </div>
            </form>

          </div>

          <label  for="message-text" class="control-label " style="color: black;">Select a picture (the first photo is your cover photo): </label>
          <form action="/upload" class="dropzone" id="my-awesome-dropzone"></form>


        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" on-click = "close">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" on-click = "savepost" id = "savebutton" >Save post</button>
      </div>
    </div>
  </div>
</div>


    </div>



 </script>







 <!--This is where all the ractive code, jquery, and ajax calls will go -->
 <script>
            //attach a function to the document of the html page this allows us to do wonderful things




$(function() {

             // Ractive object
             //create the ractive object output is the target
             // template is the snippet of code that will be logic of the app
             // delimiters are used according to env web2py uses mustaches
            // will add data that needs to be displayed

             var MAIN = new Ractive({
                el: '#target',
                template: '#template',
                delimiters: ['{%', '%}'],
                tripleDelimiters: ['{%%', '%%}'],
                 data: {
                     post_list: [],
                     post_url: "{{=URL('default','show_posts')}}",
                     picture_url : "{{=URL('default', 'download' )}}",
                     post_name: "",
                     post_desc: "",
                     post_id: "{{=post_id}}",
                     category: "",
                     post_photo: {},
                     photo_list: [],
                     post_price: "",
                     user_id: "{{=auth.user_id}}",
                     profile_url : "{{=URL('default','your_profile')}}",
                     curr_post_url:"{{=URL('default', 'posts' )}}",
                     isedit: false,
                     isloading: true,
                     pagenum: 1
                 }


             });

    $.ajax("{{=URL('default','load_posts')}}",{
       method: 'GET',
                data: {},
                success: function(data){
                    console.log("SUCCESS")
                    MAIN.set('post_list',data['post_list']);
                    MAIN.set('photo_list',data['photo_list']);
                    console.log(MAIN.get('photo_list'));

                }

    });

    $('#exampleModal').on('hidden.bs.modal', function () {
    // do something…

            console.log("bye");
            MAIN.set('isedit',false);
            MAIN.set('photos_list',[]);
            MAIN.set('del_photos',[]);
            myDropzone.removeAllFiles();
        });

     Dropzone.autoDiscover = false;

    $("#my-awesome-dropzone").dropzone({
        url: "{{=URL('default','add_post')}}",
        autoProcessQueue: false,
        addRemoveLinks: true,
        maxFiles: 5,
        parallelUploads: 10,
        init: function(){
            myDropzone = this;

              myDropzone.on("addedfile", function (file){
                    console.log(myDropzone.files);
                    if(myDropzone.files.length == 1){

                    }
                });

            MAIN.on("savepost", function(e){
                console.log("save clicked");
                MAIN.set("isedit", false);
                //check if the VALUES are empty
                 if(myDropzone.files.length == 0){
                    alert("Please submit at least one photo");

                }else{
                           var p_id = MAIN.get('post_id');
                var p_name = $("#postname").val()
                var p_desc = $("#postdesc").val()
                var p_price = $("#postprice").val()
                var p_cate = $("#postcate").val()

                // NEEED to handle case for not sending photos through dropzone



                myDropzone.on("sending", function(file, xhr, formData) {
                    // add headers with xhr.setRequestHeader() or
                    // form data with formData.append(name, value);
                    console.log("here")

                    formData.append('post_id', p_id);
                    formData.append('post_name', p_name);
                    formData.append('post_desc', p_desc);
                    formData.append('post_price',p_price);
                    formData.append('post_cate',p_cate);

});
                myDropzone.processQueue();

                 }



    });

             myDropzone.on("queuecomplete", function (file) {
                   MAIN.set('post_name', "");
                   MAIN.set('post_desc', "");
                   MAIN.set('post_price',"");
                   MAIN.set('post_cate',"");
                   MAIN.set('post_id', generateUUID())
                   myDropzone.removeAllFiles();
              });

        },

    });

    MAIN.on("clickedpost", function(e){
        console.log("clicked post");

    });

    MAIN.on("addpost", function(e){
        MAIN.set("isedit", true);
        //$("#savebutton").addClass("disabled");
        console.log("addpost");


    });

     function periodic_get(){
                 if(MAIN.get('isedit') == false){
                     console.log("periodic get");
                      $.ajax("{{=URL('default','load_posts')}}",{
                     method: 'GET',
                data: {},
                success: function(data){
                    console.log("SUCCESS posts");
                   // console.log(data["post_list"]);
                    MAIN.set('post_list' , data["post_list"]);
                    MAIN.set('isloading',false);
                    MAIN.set('photo_list',data['ph_list']);
                }

         });

                 }else{
                     console.log("bitch");
                 }

             }



             setInterval(periodic_get,10000);
      function set_loading(){
            MAIN.set('isloading', true);
        }
        setInterval(set_loading, 2000);


    // http://stackoverflow.com/questions/105034/create-guid-uuid-in-javascript
  function generateUUID(){
    var d = new Date().getTime();
    if(window.performance && typeof window.performance.now === "function"){
        d += performance.now();; //use high-precision timer if available
    }
    var uuid = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
        var r = (d + Math.random()*16)%16 | 0;
        d = Math.floor(d/16);
        return (c=='x' ? r : (r&0x3|0x8)).toString(16);
    });
    return uuid;
  }

  MAIN.on("close",function(e){
            //remove all files calls the event function above and
            //reset the photo list
            MAIN.set('post_name', "");
            MAIN.set('post_desc', "");
            MAIN.set('post_price',"");
            MAIN.set('post_cate',"");
           myDropzone.removeAllFiles();


        });







});





        </script>

      <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script src="{{=URL('static', 'js/bootstrap.js')}}"></script>
    <script src="{{=URL('static', 'js/ractive.min.js')}}"></script>

  </body>
</html>


