
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>UCSC Free and For Sale</title>

      <link href='https://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
    <!-- Bootstrap core CSS -->
    <link href="../../static/css/bootstrap.min.css" type="text/css" rel="stylesheet"/>
            <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.indigo-blue.min.css">
      <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link type="text/css" rel="stylesheet" href="../../static/css/materialize.min.css"  media="screen,projection"/>


    <!-- Custom styles for this template -->
       <link rel="stylesheet" href="../../static/stylesheets/dropzone.css" />
   <link href="../../static/stylesheets/styles.css" rel="stylesheet"/>


        <!-- Compiled and minified CSS -->

      <!-- other styles for this template -->



    <link rel="icon" href="../static/images/favicon.ico>" />


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{=URL('static', 'js/jquery-1.11.3.min.js')}}"><\/script>')</script>


      <script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script>
          <script src="http://jquery-json.googlecode.com/files/jquery.json-2.2.min.js" type="text/javascript"></script>





        <style>
    body {
      font-family: 'Roboto', sans-serif;
      font-size: 18px;
    }
  </style>

  </head>


   <body>

   <div id="target"></div>


    <script id="template" type="text/ractive">
<div id = "wrapper">



 </div>


   <!-- main slider carousel -->
   <div class="container-narrow">



{% #each post %}

 <div class = "well-posts" id="mydiv" >


<div class="card ">
  <div class="card-block">
  {%#each user %}
{% #each post %}
   <div class="col-lg-12">
                <h4 class="page-header">{% name %} posted by <a  style = "margin-right: 10px" href="{% profile_url  +'/' + user_id%}"> {% first_name %}  {% last_name %} </a>
 </h2>

            </div>

{% /each %}
{% /each %}


<div class="photo-wrapper" style = "width: 100%">
    <hr style="background-color: rgba(0, 0, 0, 0.035);  height: 2px; margin-top: 20px;">
    <div class = "photos" >
      {% #photo_list:i %}
        <div class="col-lg-6 col-md-4 col-xs-6 thumb" >
            <!--<img on-click = "clickedphoto" class="img-responsive"  src="{%picture_url + "/" + picture %}" alt="" data-toggle="modal" data-target="#myModal">-->
             <img on-click = "clickedphoto" class="materialboxed responsive-img" src="{%picture_url + "/" + picture %}" alt="">

         </div>

    {% /photo_list %}
    </div>
    <hr style="background-color: rgba(0, 0, 0, 0.035);  height: 2px; ">
</div>

  <div class = "price">
    <h3 style = "color: #78ee32 "> ${% price %}</h1>
    </div>
    <p class="card-text"> {% description %}</p>
    <span class="label label-info" style="font-size: 20px">Category :</span>
    <div>{% category %}</div>
  </div>
  <div class="card-footer text-muted">
    Created: {% created_on %}
  </div>

</div>

 </div>

{% /each %}


  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="demo-card-image mdl-card mdl-shadow--2dp">
                    <span class="demo-card-image__filename">
                        {% #if curr_photo %}
                            <img class="img-responsive" height = "100%" width= "600" src="{%picture_url + "/" + curr_photo %}" alt="" >
                        {% /if %}
                    </span>
        </div>
    </div>
  </div>
    <!--
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          {% #if curr_photo %}
                <img class="img-responsive" height = "600" width= "600" src="{%picture_url + "/" + curr_photo %}" alt="" >
          {% /if %}
        </div>
      </div>
    </div> -->
  </div>








       </div>



 </script>

   <script>




$(function() {


    var MAIN = new Ractive({
                el: '#target',
                template: '#template',
                delimiters: ['{%', '%}'],
                tripleDelimiters: ['{%%', '%%}'],
                 data: {
                    post_id : "{{=post_id}}",
                     photo_list: [],
                     post: [],
                     user: [],
                     picture_url : "{{=URL('default', 'download' )}}",
                     curr_photo: "",
                     profile_url : "{{=URL('default','your_profile')}}",
                 },


             });

      MAIN.on("clickedphoto", function(e){
          console.log("click photo");
          console.log(e.context.picture);
          MAIN.set("curr_photo", e.context.picture);
          $('.materialboxed').materialbox();
       });

    $.ajax("{{=URL('default','get_post')}}",{
          method : "GET",
          data: {post_id: MAIN.get('post_id')},
          success:function(data){
              console.log("Got post info" , data['pic_list'] , data["post_info"], data['poster_list']);
              MAIN.set('photo_list', data["pic_list"]);
              MAIN.set('post', data["post_info"]);
              MAIN.set('user', data['poster_list']);
              $('.materialboxed').materialbox();

          }
    });


    $('#myCarousel').carousel({
        interval: 5000
    });

// handles the carousel thumbnails
    $('.carousel-selector').click(function () {
        var selectorIdx = $(this).closest('li').index();

        $('#myCarousel')
                .carousel(selectorIdx)
                .find('.carousel-selector').removeClass('selected')
                .eq(selectorIdx).addClass('selected')
                .end()
                .find('.item').removeClass('selected')
                .eq(selectorIdx).addClass('active');
    });

         function periodic_get(){
                 console.log("periodic get");
                  $.ajax("{{=URL('default','get_post')}}",{
                 method: 'GET',
                data: {post_id: MAIN.get('post_id')},
                success: function(data){
                    console.log("SUCCESS posts");
                   // console.log(data["post_list"]);
                  MAIN.set('photo_list', data["pic_list"]);
                  MAIN.set('post', data["post_info"]);
                  MAIN.set('user', data['poster_list']);
                }

         });


             }



             setInterval(periodic_get,10000);
});





   </script>


      <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
       <script src="{{=URL('static', 'js/bootstrap.js')}}"></script>
    <script src="{{=URL('static', 'js/ractive.min.js')}}"></script>
   <script src="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.min.js"></script>
    <script type="text/javascript" src="../../static/js/materialize.min.js"></script>
   <script>
        $(document).ready(function(){
            $('.materialboxed').materialbox();
        });
   </script>




   </body>