
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>UCSC Free and For Sale</title>

      <link href='https://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
    <!-- Bootstrap core CSS -->

      <link href="../../static/css/bootstrap1.min.css" type="text/css" rel="stylesheet"/>

<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">


    <!-- Custom styles for this template -->
       <link rel="stylesheet" href="../../static/stylesheets/dropzone.css" />
   <link href="../../static/stylesheets/styles.css" rel="stylesheet"/>



      <!-- other styles for this template -->



    <link rel="icon" href="../static/images/favicon.ico>" />


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{=URL('static', 'js/jquery-1.11.3.min.js')}}"><\/script>')</script>


      <script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script>
          <script src="http://jquery-json.googlecode.com/files/jquery.json-2.2.min.js" type="text/javascript"></script>
<script src="../../static/js/dropzone.js"></script>

        <style>
    body {
      font-family: 'Roboto', sans-serif;
      font-size: 18px;
    }
  </style>

  </head>

          <body>



<div id="target"></div>

 <script id="template" type="text/ractive">

<div class="container-narrow">

     <div class="container-narrow">

     {{if auth.user_id == None :}}

     <div class="jumbotron">
  <h1>Hello, there!</h1>
  <p>Looks like you're not signed in. Please sign in or sign up !</p>
  <p>
  <a class="btn btn-warning  "  href="{{=URL ('default/user', 'register')}}">Sign Up</a>
<a class="btn btn-success   " style = "margin-right: 10px" href="{{=URL ( 'default/user', 'login')}}">Sign In</a>

  </p>
</div>

     {{else:}}
  <div class="row">
    <div class="span5">
      <div class="well well-small clearfix">
        <div class="row-fluid">
          <div class="span2">
          {{print ("photo" , auth.user.photo)}}
          {% #if prof_pic == '' %}
             <img height = "125" width = "125 "src="http://1.gravatar.com/avatar/ad516503a11cd5ca435acc9bb6523536?s=1024" class="img-polaroid"/>
         {% else %}
              <img height = "125" width = "125" src="{% picture_url + "/" +prof_pic%}" class="img-polaroid"/>
          {% /if %}

          </div>
          <div class="span4">
             <h2>{% first_name %} {%last_name%}</h2>
            <ul class="unstyled">
              <li><i class="icon-phone"></i> {% phone_number%}</li>
              <li><i class="icon-envelope"></i> {% email%}</li>
            </ul>
          </div>
      <!--Body content-->
    </div>
  </div>


</div>
      </div>


    </div>






 {% #each post_list %}
<!-- list view begins -->

     {{id= user_id}}
{{print ("on profile",id) }}
{{print ("curr user" , auth.user_id)}}


    <div id="products" class="row list-group">
        <div class="item  col-xs-4 col-lg-4 list-group-item ">
            <div class="thumbnail">
            <a href = {% curr_post_url + "/" + post_id %} >
                <img class="group list-group-image img-rounded" width="400" height="250" src="{% picture_url + "/" +cover_photo%}" alt="" />
            </a>
            </div>
                <div class="caption">
                    <h4 class="group inner list-group-item-heading">
                       {%name %}</h4>
                    <p id="profile-desc" class="group inner list-group-item-text">
                        {% desc %}</p>
                    <div class="row pull-right" >
                        <div class="col-xs-12 col-md-6">
                            <p class="lead " style = "color : green" >
                                ${% price %}</p>
                        </div>
                    </div>
                    <div class = "edit" >
                        {{if id == str(auth.user_id) :}}
                          {{print "here"}}
                          <button type="button"  on-click = "editpost" class="btn btn-default" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Edit</button>
                          <button type="button"  on-click = "deletepost" class="btn btn-danger" >Delete</button>
                           {{pass}}
                    </div>
                </div>

        </div>
    </div>

{% /each %}



<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" on-click = "close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title"> Edit posts</h4>
      </div>
      <div class="form-group" style="color: black;">
        <label for="recipient-name" class="control-label">Post title:</label>
        <input type="text" value = "{% post_name %}" class="form-control" id="postname">
      </div>
      <div class="form-group">
        <label for="message-text" class="control-label" style="color: black;">Description:</label>
        <textarea class="form-control" value = "{% post_desc %}" id="postdesc"></textarea>
      </div>
      <div class="form-group">
        <label for="message-text" class="control-label" style="color: black;">Category:</label>
        <textarea class="form-control" value = "{% post_cat %}" id="postcate"></textarea>
      </div>
       <div class="form-group">
        <label for="message-text" class="control-label" style="color: black;">Price</label>
        <textarea class="form-control" value = "{% post_price %}" id="postprice"></textarea>
      </div>
     <label  for="message-text" class="control-label " style="color: black;">Edit or add pictures (first picture is cover photo): </label>
          <form action="/upload" class="dropzone" id="my-awesome-dropzone"></form>



      <div class="modal-footer">
        <button type="button" on-click = "close" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" on-click = "submit" class="btn btn-primary" data-dismiss="modal" >Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



</div>


{{pass}}


 </script>


 <script>

     $(function() {

          var MAIN = new Ractive({
                el: '#target',
                template: '#template',
                delimiters: ['{%', '%}'],
                tripleDelimiters: ['{%%', '%%}'],
                 data: {
                     post_list: [],
                     photos_list: [],
                     first_name: "{{=profile[0]['first_name']}}",
                     last_name: "{{=profile[0]['last_name']}}",
                     email: "{{=profile[0]['email']}}",
                     phone_number: "{{=profile[0]['phone']}}",
                     prof_pic: "{{=profile[0]['photo']}}",
                     curr_post_url:"{{=URL('default', 'posts' )}}",
                     user_id: "{{=user_id}}",
                     picture_url : "{{=URL('default', 'download')}}",
                     curr_user: "{{=auth.user_id}}",
                     post_desc: "",
                     post_name: "",
                     post_cat: "",
                     post_price: "",
                     del_photos: [],
                     curr_postid: "",
                     isedit : false
                 },


             });


         Dropzone.autoDiscover = false;
         $("#my-awesome-dropzone").dropzone({
             url: "{{=URL('default','add_post')}}",
             autoProcessQueue: false,
             addRemoveLinks: true,
             maxFiles: 5,
             parallelUploads: 10,
             init: function () {
                 myDropzone = this;


             }
         });

         $('#exampleModal').on('hidden.bs.modal', function () {
    // do something…

             console.log("bye");
             MAIN.set('isedit',false);
            MAIN.set('photos_list',[]);
            MAIN.set('del_photos',[]);
           myDropzone.removeAllFiles();
        });




         $.ajax("{{=URL('default','show_posts')}}",{
             method: 'GET',
             data: { userid : MAIN.get('user_id') },
                success: function(data){
                    console.log("SUCCESS posts");
                   // console.log(data["post_list"]);
                    MAIN.set('post_list' , data["post_list"]);
                }

         });

         MAIN.on("deletepost",function(e){
            console.log("clicked delete");
            console.log(e.context.post_id);
             var p_id = e.context.post_id
             $.ajax("{{=URL('default','delete_posts')}}", {
                 method: 'POST',
                 data: { post_id : p_id },
                 success: function(data){
                     console.log("Successfully deleted")
                 }
             });
         });

         MAIN.on("editpost", function(e){
             var post = e.context;
             MAIN.set('isedit',true);
             console.log("here")
             MAIN.set('post_name', post.name);
             MAIN.set('post_desc', post.desc);
             MAIN.set('post_cat', post.category);
             MAIN.set('post_price', post.price);
             MAIN.set('curr_postid', post.post_id);

            //console.log(post.post_id);
             var photo_name = e.context.cover_photo;
             var post_id = e.context.post_id;
             var photos = [];

             $.ajax("{{=URL('default','get_pictures')}}",{
                method: 'GET',
                data: {postid: post_id},
                 success: function(data){
                     MAIN.set('photos_list', data['photos']);
                     var ph_list = MAIN.get('photos_list');
                     for (var i = 0; i < ph_list.length; i++){
                         photo_name = ph_list[i];
                         var mockFile = { name: ph_list[i] ,
                                           size: 2100000,
                                           type: 'image/jpeg',
                                          status: Dropzone.ADDED,
                                          accepted: true,
                                          url: "{{=URL('default', 'download')}}" + "/" + photo_name
                                        };
                         myDropzone.emit("addedfile",mockFile);
                         myDropzone.createThumbnailFromUrl( mockFile, "{{=URL('default', 'download')}}" + "/" + photo_name);
                         myDropzone.files.push(mockFile);
                     }
                 }
             });


             //submit fix the dropzone
             //hit remove and close dont delete from db
             // hit remove and submit then delete

             //remove files that are previously
             myDropzone.on('removedfile', function(file){
                 //photos list has the names of the previous images added
                 var photos_list = MAIN.get('photos_list');
                 var del_photos = MAIN.get('del_photos');
                  console.log("delete photos list",del_photos);

                 //ONLY IF ITS IN photos list
                 console.log(photos_list.length)

                 for( var i = 0; i < photos_list.length; ++i){

                     if(file.name == photos_list[i]){
                         console.log("this is a previously added file that were gonna add to list", file.name);
                         if(myDropzone.files.length > 0 ){
                             del_photos.push(file.name);
                         }

                         file.name = ""
                     }
                     //if the file is already in the del_photos dont add it again
                 }
                  console.log(del_photos.length);
                 MAIN.set('del_photos' , del_photos);
                 //console.log(del_photos);


             })


         });



         //RESET del_photos to empty array

        MAIN.on("close",function(e){
            //remove all files calls the event function above and
            //reset the photo list
            MAIN.set('isedit',false);
            MAIN.set('photos_list',[]);
            MAIN.set('del_photos',[]);
           myDropzone.removeAllFiles();


        });


         MAIN.on("submit",function(e){
             //finish submit method
             MAIN.set('isedit',false);
             var photos_to_delete = MAIN.get("del_photos");
             var new_name = $("#postname").val();
             var new_desc = $("#postdesc").val();
             var new_cate = $("#postcate").val();
             var new_price = $("#postprice").val();
             var post_id = MAIN.get('curr_postid');
            $.ajax("{{=URL('default', 'update_post')}}",{
                 method: 'POST',
                 data:{
                     name : new_name,
                     desc: new_desc,
                     cate: new_cate,
                     price: new_price,
                     post_id: post_id,
                 },
                 success: function(e){

                 },
             });

               myDropzone.on("sending", function(file, xhr, formData) {
                    formData.append('post_id', post_id);
                    formData.append('post_name', new_name);
                    formData.append('post_desc', new_desc);
                    formData.append('post_cate',new_cate);
                    formData.append('post_price',new_price);

               });

             for(var i = 0; i < photos_to_delete.length; ++i){
                  console.log(photos_to_delete[i]);
                   $.ajax("{{=URL('default', 'delete_pic')}}",{
                     method: 'POST',
                     data: {to_delete: photos_to_delete[i],
                            post_id: post_id},
                     success: function(data){
                         console.log("ayy lmao");

                     }
                 })
             }
             myDropzone.processQueue();



             //REMOVE all files calls the REMOVEDfile event for a dropzone
             MAIN.set('photos_list',[]);
            MAIN.set('del_photos',[]);
           myDropzone.removeAllFiles();

        });



             function periodic_get(){
                 if(MAIN.get('isedit') == false){
                     console.log("periodic get");
                      $.ajax("{{=URL('default','show_posts')}}",{
                     method: 'GET',
                data: { userid : MAIN.get('user_id') },
                success: function(data){
                    console.log("SUCCESS posts");
                   // console.log(data["post_list"]);
                    MAIN.set('post_list' , data["post_list"]);
                }

         });

                 }else{
                     console.log("bitch");
                 }

             }



             setInterval(periodic_get,10000);



     });


     </script>

                <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script src="{{=URL('static', 'js/bootstrap.js')}}"></script>
    <script src="{{=URL('static', 'js/ractive.min.js')}}"></script>


          </body>
</html>
