/* line 10, ../sass/styles.scss */
body {
  padding-top: 20px;
  padding-bottom: 40px;
}

#wrapper{
    position: absolute;
    z-index: -1;
    background-color: #448AFF;
    width: 100%;
    height: 222px;
    content: '';
    top: 0;
    left: 0;
  box-shadow: 0 10px 6px -6px #777;
}

#material-icons{
  padding-top: 50px;
  padding-left: 50px;
  font-size: 50px;

}



/* Custom container */
/* line 17, ../sass/styles.scss */
.container-narrow {
  margin: 0 auto;
  max-width: 700px;
  background-color: white;
}

/* line 21, ../sass/styles.scss */
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
/* line 26, ../sass/styles.scss */
.jumbotron {
  margin: 60px 0;
  text-align: center;
}

/* line 30, ../sass/styles.scss */
.jumbotron h1 {
  font-size: 72px;
  line-height: 1;
}

/* line 34, ../sass/styles.scss */
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
/* line 40, ../sass/styles.scss */
.marketing {
  margin: 60px 0;
}

/* line 43, ../sass/styles.scss */
.marketing p + h4 {
  margin-top: 28px;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
/* Carousel base class */
/* line 51, ../sass/styles.scss */
.carousel {
  height: 500px;
  margin-bottom: 60px;
}

/* Since positioning the image, we need to help out the caption */
/* line 56, ../sass/styles.scss */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
/* line 61, ../sass/styles.scss */
.carousel .item {
  height: 500px;
  background-color: #777;
}

/* line 65, ../sass/styles.scss */
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}

.mdl-textfield{
  width: 100%;
}

/* RESPONSIVE CSS
-------------------------------------------------- */
@media (min-width: 768px) {
  /* Navbar positioning foo */
  /* line 78, ../sass/styles.scss */
  .navbar-wrapper {
    margin-top: 20px;
  }

  /* line 81, ../sass/styles.scss */
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }

  /* line 85, ../sass/styles.scss */
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  /* line 91, ../sass/styles.scss */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  /* line 96, ../sass/styles.scss */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  /* line 102, ../sass/styles.scss */
  .featurette-heading {
    font-size: 50px;
  }
}
@media (min-width: 992px) {
  /* line 108, ../sass/styles.scss */
  .featurette-heading {
    margin-top: 120px;
  }
}
/* line 113, ../sass/styles.scss */
.glyphicon {
  margin-right: 5px;
}

.card-text{
  white-space: pre-line;
}

#profile-desc{
  white-space: pre-line;
}

/* line 114, ../sass/styles.scss */
.thumbnail {
  margin-bottom: 20px;
  padding: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  width: 400px;
  height: 266px;
  margin-right: auto;
  overflow: hidden;
  align-content: center;
}

.photo-wrapper{
  overflow: hidden;
}

/* line 123, ../sass/styles.scss */
.item.list-group-item {
  float: none;
  width: 100%;
  background-color: #fff;
  margin-bottom: 10px;
}

/* line 130, ../sass/styles.scss */
.item.list-group-item:nth-of-type(odd):hover, .item.list-group-item:hover {
  background: #428bca;
}

/* line 135, ../sass/styles.scss */
.item.list-group-item .list-group-image {
  margin-right: 10px;
}

/* line 139, ../sass/styles.scss */
.item.list-group-item .thumbnail {
  margin-bottom: 0px;
}

/* line 143, ../sass/styles.scss */
.item.list-group-item .caption {
  padding: 9px 9px 0px 9px;
}

/* line 147, ../sass/styles.scss */
.item.list-group-item:nth-of-type(odd) {
  background: #eeeeee;
}

/* line 152, ../sass/styles.scss */
.item.list-group-item:before, .item.list-group-item:after {
  display: table;
  content: " ";
}

/* line 158, ../sass/styles.scss */
.item.list-group-item img {
  float: left;
}

/* line 162, ../sass/styles.scss */
.item.list-group-item:after {
  clear: both;
}

/* line 166, ../sass/styles.scss */
.list-group-item-text {
  margin: 0 0 11px;
}



.stats {
  text-align:center;
  text-shadow:1px 1px 0px #fff;
  margin-top:25px;

}
.stats li{
  width:125px;
}
.stats span{
  font-family:Helvetica;
  font-weight:bold;
  text-shadow:1px 1px 0px #fff;
  font-size:4em;

  display:block;
  line-height:1em;
}

/* Large desktop */
@media (min-width: 1200px) {
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  .profile img{
    width:75px;
  }
  .profile h2{
    font-size:1.7em;
  }
  .stats span{
    font-size: 2em;
  }
}

.photos{
display: inline-block;
}

.col-lg-6{
  margin-top: 2.5%;
  margin-bottom: 2.5%;
}

.carousel-selector > .active, .selected img {
  border: solid 2px #003C30;
}

.card {
 //border: solid 1px rgba(0, 26, 21, 0.27);
  //box-shadow: 0 10px 6px -6px #777;
  margin-top: 10px;
  box-shadow: 0px 8px 5px rgba(136, 136, 136, 0.61), 0px 0px 8px rgba(136, 136, 136, 0.53);

}

#mydiv {
  //padding-top: 20em;
}

.col-lg-12{
  padding-top: 20px;
  padding-bottom: 20px;
}

.mdl-grid--no-spacing>.mdl-cell--3-col, .mdl-grid--no-spacing>.mdl-cell--3-col-desktop.mdl-cell--3-col-desktop{
  width: 50%;
}

.mdl-grid--no-spacing>.mdl-cell--9-col, .mdl-grid--no-spacing>.mdl-cell--9-col-desktop.mdl-cell--9-col-desktop{
  width: 50%;
}

.demo-card-wide.mdl-card {
  width: 100%;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 5%;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}

.demo-card-wide >.mdl-card__supporting-text{
  float: right;
}

.well-posts{
  margin-top: 50px;

}

.spinner-div{
  margin-left: 46%;
  margin-right: auto;
  margin-bottom: 15px;
}



.spinner {
  -webkit-animation: rotator 1.4s linear infinite;
          animation: rotator 1.4s linear infinite;

}

@-webkit-keyframes rotator {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
}

@keyframes rotator {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
}
.path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  -webkit-animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
          animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
}

@-webkit-keyframes colors {
  0% {
    stroke: #4285F4;
  }
  25% {
    stroke: #DE3E35;
  }
  50% {
    stroke: #F7C223;
  }
  75% {
    stroke: #1B9A59;
  }
  100% {
    stroke: #4285F4;
  }
}

@keyframes colors {
  0% {
    stroke: #4285F4;
  }
  25% {
    stroke: #DE3E35;
  }
  50% {
    stroke: #F7C223;
  }
  75% {
    stroke: #1B9A59;
  }
  100% {
    stroke: #4285F4;
  }
}
@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg);
  }
}
@keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg);
  }
}